/* Misalkan file CSS Anda bernama style.css */

/* Menambahkan gaya text-overflow ke tombol */
.button-text-overflow {
    -fx-text-overrun: ellipsis; /* Untuk menggunakan elipsis jika terlalu panjang */
    -fx-wrap-text: true; /* Untuk mengaktifkan pembungkus teks */
    -fx-alignment: left; /* Untuk mengatur teks ke tengah */
}
